.upb_container
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif
  font-size: 13px
  line-height: 1.4
  overflow-y: auto
  overflow-x: auto

.upb__Box-padding
  padding: 5px 5px 5px 5px

.upb__alert__drop
  position: fixed
  text-align: center
  margin-left: 30%
  width: 40%
