.boxList__item--display
  // margin: 10px 2px 2px 2px
  border-bottom: 2px solid #ebedef


.listInfoFile--display
  list-style: none

.listInfoFileItem--display
  display: inline-block

.listInfoFileItem--display:first-child
  width: 70%

color-white = #fff
color-text = #3d464d
//color-border = #cce6fa
//color-border = #69D2E7
color-border = rgba(158,203,225,0.4);
color-background-select = rgba(204,230,250,0.5)
color-background-directory = rgba(158,203,225,0.1);
color-border-trash = #48A0DC;
color-box-shadow = rgba(0,0,0,0.05);

.upb__itembox
  font-family: sans-serif,"Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma
  font-size: 13px
  display: flex
  align-items: center
  padding: 10px 5px 5px 5px
  border-top: 1px solid white
  border-bottom: 1px solid #ebedef
  &:hover
    background-color: color-background-select
    border-top: 1px solid color-border
    border-bottom: 1px solid color-border

.upb__itembox > *
  display: flex
  align-items: center

.upb__itembox__iconName
  width: 70%

.upb__itemList-verticalAlign
  vertical-align: middle

.upb__itembox__icon
  width: 24px
  height: 24px
  color: #48A0DC
  margin 0px 10px 8px 0px

.upb__file-margin
  margin 0px 10px 8px 0px

.upb__itembox__name
  color: color-text !important
  text-decoration: none
  font-weight: normal !important
  &:hover
    color: color-text
    text-decoration: underline
    cursor: pointer

.upb__itembox__date
  width: 20%

.upb__itembox__btnDelete__container
  font-size:24px

.upb__itembox__btnDelete__container__hidden
  display: none;

.upb__itembox__btnDelete
  font-size: 13px
  padding: 8px 13px 8px 13px
  margin: -2px 0 0 0
  color: color-border-trash
  border: 1px solid color-border-trash
  border-radius: 3px
  cursor: pointer
  box-shadow: 0px 1px 5px color-box-shadow
  transition: all 0.2s
  &:hover
    border-color: transparent
    color: color-white
    background-color: color-border-trash

.upb__itembox__btnDownload
  font-size: 18px
  padding: 4px 10px 6px 10px
  color: color-border-trash
  border: 1px solid color-border-trash
  border-radius: 3px
  cursor: pointer
  box-shadow: 0px 1px 5px color-box-shadow
  transition: all 0.2s
  &:hover
    border-color: transparent
    color: color-white
    background-color: color-border-trash

.upb__itembox__disabled
  pointer-events: none
