@import "../../styles/colors.styl"

.upb__menu__item
  display: inline-block
  padding: 0px 5px 0px 5px
  cursor: default

.upb__menu__item__up
  color: #48A0DC
  cursor: pointer
  &:hover
    text-decoration: underline

.upb__itemHome
  width: 24px
  height: 24px
  margin 0px 5px 8px 0px
  color: #48A0DC
  cursor: pointer;

.upb__menuBox
  display: flex
  height: auto  
  padding-top: 10px

.upb__menuBox > *
  display: inline-block

.upb__path__directory
  display: flex
  align-items: center
  width: 90%

.upb__menu__button
  float: right

.upb__menu__button__label
  margin-left: 4px

.upb__menu__buttons__item
  color: #48A0DC

.upb__menu__button__item
  font-size: 20px
  padding: 6px 8px 6px 8px
  color: color-border-trash
  border: 1px solid color-border-trash
  border-radius: 3px
  cursor: pointer
  box-shadow: 0px 1px 5px color-box-shadow
  transition: all 0.2s
  &:hover
    border-color: transparent
    color: color-white
    background-color: color-border-trash
