// .upb__menuBox
//   border-bottom: 1px solid #d0d4d9;

.upb__menu__item
  display: inline-block
  padding: 0px 5px 0px 5px
  cursor: pointer
  &:hover
    text-decoration: underline
  // &:after
  //   content: '>'
  // &:last-child:after
  //   content: ''

.upb__itemHome
  width: 30px
  height: auto
  margin 0px 5px 8px 0px
  color: #48A0DC
  cursor: pointer;
