.upb_boxheader
  margin: 10px 0px 0px 0px
  padding: 0px 0px 0px 5px
  border-bottom: 1px solid #d0d4d9;

.upb_boxheader > *
  display: inline-block;

.upb__boxheader__name
  width: 70%
  display: inline-block;
