.upb_container
  font-family: "Open Sans","lucida grande","Segoe UI",arial,verdana,"lucida sans unicode",tahoma,sans-serif
  font-size: 13px
  line-height: 1.4
  overflow-y: auto
  overflow-x: auto
  width: 100%

.upb__Box-padding
  padding: 5px 5px 5px 5px

.upb__alert__drop
  position: absolute
  text-align: center
  width: 40%
  max-width: 500px
  margin: 0 auto
  z-index: 100
  transform: translate(50%, -10px)

// .upb__alert__drop > *
//   text-align: center
