color-white = #fff
color-text = #3d464d
//color-border = #cce6fa
//color-border = #69D2E7
color-border = rgba(158,203,225,0.4);
color-background-select = rgba(204,230,250,0.5)
color-background-directory = rgba(158,203,225,0.1);
color-border-trash = #48A0DC;
color-box-shadow = rgba(0,0,0,0.05);
