color-image = #9BDFE3
color-audio = #0BBD96
color-audio = #9061C2
color-video = #E01A27
color-text = #333333
color-compress = #6D6565
color-compress = #734837
color-word = #4C88E0
color-excel = #508361
color-powerpoint = #F68B26
color-pdf = #B33214

.upb__itembox__icon
  color:inherit;

.upb__itembox__icon__image
  color: color-image

.upb__itembox__icon__audio
  color: color-audio

.upb__itembox__icon__video
  color: color-video

.upb__itembox__icon__text
  color: color-text

.upb__itembox__icon__compress
  color: color-compress

.upb__itembox__icon__excel
  color: color-excel

.upb__itembox__icon__word
  color: color-word

.upb__itembox__icon__powerpoint
  color: color-powerpoint

.upb__itembox__icon__pdf
  color: color-pdf
