color-border = #69D2E7
color-spinner = #48A0DC

.upb__notifications__wrapper
  padding: 0px 20% 0px 20%
  z-index: 300
  float: none;

.upb__notification__info
  background-color: gray

.upb__notification__success
  background-color: green

.upb__notification__error
  background-color: red

.testContainerFixed
  position: fixed
  z-index: 350

.upb__notifications__dataFile
  width: 60%
  display: inline-block

.upb__notifications__dataFile__icon
  font-size: 24px
  display: inline-block

.upb__notifications__dataFile__icon_icon
  margin-top: -8px
  margin-right: 6px

.upb__notifications__dataFile__data
  display: inline-block
  font-size: 10px

.upb__notifications__action
  width: 40%
  display: inline-block
  vertical-align: top
  text-align: center

.upb__notifications__action__message
  display: inline-block
  margin-right: 12px

.upb__notifications__action__spinner
  display: inline-block
  vertical-align: middle

/**
 * Spinner
 */
.spinner {
  margin: 1px auto;
  width: 50px;
  height: 30px;
  text-align: center;
  font-size: 10px;
  color: #48A0DC;
}

.spinner > div {
  background-color: color-spinner
  height: 100%;
  width: 6px;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
