color-icon-cloud = #97A1A8

.upb__BoxList
  border: 2px solid white
  //padding-bottom: 20px

.box__dragOver
  border: 2px solid green

.upb__BoxList__Footer
  padding: 20px 0px 10px 0px
  text-align: center
  color: color-icon-cloud
  font-size: 1.2em

.upb__BoxList__Footer__iconCloud
  font-size: 48px
  color: color-icon-cloud
